In [3]:
import numpy as np
import pandas as pd
import re

In [4]:
df = pd.read_csv("./allocate1_sol.csv")


def f(s):
    res = re.findall(r'\((\d+), (\d+), (\d+), (\d+)', s)
    return tuple([int(i) for i in res[0]])


df['Unnamed: 0'] = df['Unnamed: 0'].apply(f)
df.rename(columns={'Unnamed: 0': 0, '0': 'sol'}, inplace=True)

multi = pd.MultiIndex.from_tuples(df[0])
df.set_index(multi, inplace=True)
df.drop(columns=0, inplace=True)
df.reset_index(inplace=True)
df.rename(columns={'level_0': 'd', 'level_1': 'w', 'level_2': 'p', 'level_3': 'i'}, inplace=True)
df['sol'] = df['sol'].round(0).astype(int)

df

        d   w  p  i  sol
0       0   0  0  0    0
1       0   0  0  1    0
2       0   0  0  2    0
3       0   0  0  3    0
4       0   0  0  4    0
...    ..  .. .. ..  ...
33751  43  57  0  5    0
33752  43  57  1  0    0
33753  43  57  2  0    0
33754  43  57  2  1    0
33755  43  57  2  2    0

[33756 rows x 5 columns]

In [18]:
num_items_per_pack = [[8, 1, 3], [9, 1, 3], [8, 2, 3], [9, 1, 3], [9, 2, 3], [9, 1, 3], [10, 2, 4], [9, 1, 4], [10, 2, 4], [9, 2, 4], [9, 2, 4], [10, 1, 4], [10, 2, 4], [11, 2, 4], [9, 2, 3], [10, 2, 4], [9, 1, 4], [9, 2, 4], [9, 2, 2], [7, 2, 3], [7, 2, 3], [
    8, 1, 3], [9, 2, 3], [7, 2, 3], [8, 2, 3], [7, 1, 2], [7, 2, 2], [8, 1, 2], [8, 2, 2], [7, 2, 2], [8, 2, 2], [6, 2, 3], [7, 2, 3], [8, 2, 3], [7, 2, 3], [9, 2, 4], [9, 2, 4], [6, 2, 3], [8, 2, 3], [8, 2, 4], [8, 2, 4], [8, 2, 4], [7, 2, 3], [6, 1, 3]]

items_weight_raw= [192, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 144, 143, 142,
    141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 1]

items_weight_index = [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24], [
    25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43], [44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56], [57]]

target_items_perc = [0.6, 0.35, 0.05, 0]
tot_pass=87552
target_pass_g = [292, 227, 49,0]

num_packs=3

In [13]:
for g in range(4):
    s=0
    for d in range(44):
        for w in items_weight_index[g]:
            for p in [0]:#range(num_packs):
                for i in range(num_items_per_pack[d][p]):
                    s+= int(df[(df['d']==d)&(df['w']==w)&(df['p']==p)&(df['i']==i)]['sol'])
    print("g= %i" % (g))
    print("SUM is %i" % (s))
    print("ERR is %i" % (s-target_pass_g[g]))

g= 0
SUM is 155
ERR is -137
g= 1
SUM is 370
ERR is 143
g= 2
SUM is 89
ERR is 40
g= 3
SUM is 30
ERR is 30

In [12]:


with open("./model-6.sol") as f:
        content = f.read()
        res = re.findall(r'\((\d+)_(\d+)_(\d+)_(\d+)\) (\d+)', content)
        
        out= pd.DataFrame(data=res)

In [16]:
out.rename(columns={0: 'd', 1: 'w', 2: 'p', 3: 'i', 4:'sol'}, inplace=True)

In [25]:
out=out.astype(int)

In [28]:
for g in range(4):
    s = 0
    for d in range(44):
        for w in items_weight_index[g]:
            for p in [1]:  # range(num_packs):
                for i in range(num_items_per_pack[d][p]):
                    s+= int(out[(out['d'] == d) & (out['w'] == w) & (out['p'] == p) & (out['i'] == i)]['sol'])
    print("g= %i" % (g))
    print("SUM is %i" % (s))
    print("ERR is %i" % (s-target_pass_g[g]))

g= 0
SUM is 232
ERR is -60
g= 1
SUM is 220
ERR is -7
g= 2
SUM is 160
ERR is 111
g= 3
SUM is 32
ERR is 32